<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>상품 상세 정보</title>
  <link rel="stylesheet" type="text/css" th::href="@{~/css/proStyle.css?ver=2}">
  <link rel="stylesheet" type="text/css" th:href="@{~/css/headerFooter.css}">
</head>
<body>
<header>
  <nav class="navbar nav-first navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/com.solponge/main">
        <img th:src="@{~/img/sponge.png}" style="width: 100px;" alt="Logo">

      </a>
      <ul class="navbar-nav ml-auto">
        <li>
          <div th:if="${member == null}">
            <a href="/com.solponge/login" class="btn btn-primary btn-sm">login</a>
            <a href="/com.solponge/join" class="btn btn-primary btn-sm">Join</a>
            <a href="/com.solponge/login" class="btn btn-primary btn-sm">
              <img th:src="@{~/img/Basket.png}" style="width: 20px;" alt="basket" />
              Basket
            </a>
          </div>
          <div th:if="${GRADE == 'BASIC'}">
            <p th:text="${member.MEMBER_NAME} + '님 환영합니다.'"></p>

            <a href="/com.solponge/logout" class="btn btn-primary btn-sm">로그아웃</a>
            <a th:href="@{/com.solponge/member/{memberNo}/myPage(memberNo=${member.MEMBER_NO})}" class="btn btn-primary btn-sm">마이페이지</a>
            <a th:href="@{/com.solponge/member/{memberNo}/myPage/cart(memberNo=${member.MEMBER_NO})}" class="btn btn-primary btn-sm"><img th:src="@{~/img/Basket.png}" style="width: 20px;" alt="basket"> 장바구니</a>
          </div>
          <div th:if="${GRADE =='ADMIN'}">
            <p th:text="${member.MEMBER_NAME} + '님 환영합니다.'"></p>

            <a href="/com.solponge/logout" class="btn btn-primary btn-sm">로그아웃</a>
            <a href="/com.solponge/admin/member" class="btn btn-primary btn-sm">회원관리</a>
            <a href="/com.solponge/admin/order" class="btn btn-primary btn-sm">주문관리</a>
            <a href="/com.solponge/admin/product" class="btn btn-primary btn-sm">상품관리</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="nav-second navbar custom-navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container">
      <button class="navbar-toggler ml-auto" type="button"
              data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navnav-linkbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li><a class="nav-link" href="/com.solponge/productList">BOOK</a>
          </li>
          <li><a class="nav-link" href="/com.solponge/jobinfolist">JOB</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div style="max-width: 100%">
  <div>
    <h2 style = 'padding-left: 20%';>상품 상세 정보</h2>
  </div>
  <hr>
  <div class="row">
    <div class="padding-left">
      <a th:href="@{/com.solponge/admin/product}">
        <button class="button" type="button">상품 목록</button>
      </a>
    </div>&nbsp;
    <div>
      <a th:href="@{${product.product_num} + '/edit'}">
        <button class="button" type="button">상품 수정</button>
      </a>
    </div>&nbsp;
    <div>
      <form id="delete" th:action="@{/com.solponge/admin/product/{id}/delete(id=${product.product_num})}" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        <button class="button" onclick="return confirm('정말 삭제하시겠습니까?')" type="submit">상품 삭제</button>
      </form>
    </div>
  </div>

</div> <!-- /container -->
<div>
  <table>
    <tr>
      <th width="15%"></th>
      <th width="10%">번호</th>
      <td width="40%" th:text="${product.product_num}"></td>
      <th width="10%"></th>
    </tr>
    <tr>
      <th width="15%"></th>
      <th>상품명</th>
      <td width="40%" th:text="${product.product_title}"></td>
      <th width="10%"></th>
    </tr>
    <tr>
      <th width="15%"></th>
      <th>부제목</th>
      <td width="40%" th:text="${product.product_subtitle}"></td>
      <th width="10%"></th>
    </tr>
    <tr>
      <th width="15%"></th>
      <th>작가</th>
      <td width="40%" th:text="${product.product_writer}"></td>
      <th width="10%"></th>
    </tr>
    <tr>
      <th width="15%"></th>
      <th>가격</th>
      <td width="40%" th:text="${product.product_price}"></td>
      <th width="10%"></th>
    </tr>
    <tr>
      <th width="15%"></th>
      <th>이미지</th>
      <td width="40%"><img th:src="${product.product_img}" alt="img"></td>
      <th width="10%"></th>
    </tr>
    <tr>
      <th width="15%"></th>
      <th>출간일</th>
      <td width="40" th:text="${product.product_date}"></td>
      <th width="10%"></th>
    </tr>
    <tr>
      <th width="15%"></th>
      <th>페이지 수</th>
      <td width="40" th:text="${product.product_page}"></td>
      <th width="10%"></th>
    </tr>
    <tr>
      <th width="15%"></th>
      <th>재고</th>
      <td width="40" th:text="${product.product_stock}"></td>
      <th width="10%"></th>
    </tr>
    <tr>
      <th width="15%"></th>
      <th>판매량</th>
      <td width="40" th:text="${product.product_sale}"></td>
      <th width="10%"></th>
    </tr>
    <tr>
      <th width="15%"></th>
      <th>방문 수</th>
      <td width="40" th:text="${product.product_visit}"></td>
      <th width="10%"></th>
    </tr>
    <tr>
      <th width="15%"></th>
      <th>내용</th>
      <td width = "40" th:utext="${product.product_code}"></td>
      <th width="10%"></th>
    </tr>
  </table>
</div>

<div class="py-4 border border-lighter border-bottom-0 border-left-0 border-right-0 bg-dark" >
  <div class="container">
    <div class="col-md-9 text-center">
      <a href="#" class="px-3"><small class="font-weight-bold">이용안내</small></a>
      <a href="#" class="px-3"><small class="font-weight-bold">정책</small></a>
      <a href="#" class="pl-3"><small class="font-weight-bold">고객지원</small></a>
    </div>
  </div>
</div>
<footer class="border border-dark border-left-0 border-right-0 border-bottom-0 p-4 bg-dark">
  <div class="container">
    <div class="row align-items-center text-center text-md-left col">
      <p class="mb-0 small">
        <a href="">프로젝트 소개</a>&nbsp;|&nbsp;<a href="">조원소개</a>&nbsp;|&nbsp;<a href="">개발범위</a>&nbsp;|&nbsp;<a href="">시스템 요구사항</a>
      </p>
    </div>
  </div>
</footer>
</body>
</html>