<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>상품 상세 정보</title>
  <link rel="stylesheet" type="text/css" th::href="@{~/css/proStyle.css?ver=2}">
  <link rel="stylesheet" type="text/css" th:href="@{~/css/headerFooter.css}">
</head>
<body>
<div th:insert="header.html"></div>
<div style="max-width: 100%">
  <div>
    <h2 style = 'padding-left: 20%;'>상품 상세 정보</h2>
  </div>
  <hr>
  <div class="row" style='padding-left: 20%;'>
    <div class="padding-left">
      <a th:href="@{/com.solponge/admin/product}">
        <button class="button" type="button">상품 목록</button>
      </a>
    </div>&nbsp;
    <div>
      <a th:href="@{${product.product_num} + '/edit'}">
        <button class="button" type="button">상품 수정</button>
      </a>
    </div>&nbsp;
    <div>
      <form id="delete" th:action="@{/com.solponge/admin/product/{id}/delete(id=${product.product_num})}" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        <button class="button" onclick="return confirm('정말 삭제하시겠습니까?')" type="submit">상품 삭제</button>
      </form>
    </div>
  </div>
  <div style='padding-left: 20%;'>
    <table>
      <tr>
        <th width="15%"></th>
        <th width="10%">번호</th>
        <td width="40%" th:text="${product.product_num}"></td>
        <th width="10%"></th>
      </tr>
      <tr>
        <th width="15%"></th>
        <th>상품명</th>
        <td width="40%" th:text="${product.product_title}"></td>
        <th width="10%"></th>
      </tr>
      <tr>
        <th width="15%"></th>
        <th>부제목</th>
        <td width="40%" th:text="${product.product_subtitle}"></td>
        <th width="10%"></th>
      </tr>
      <tr>
        <th width="15%"></th>
        <th>작가</th>
        <td width="40%" th:text="${product.product_writer}"></td>
        <th width="10%"></th>
      </tr>
      <tr>
        <th width="15%"></th>
        <th>가격</th>
        <td width="40%" th:text="${product.product_price}"></td>
        <th width="10%"></th>
      </tr>
      <tr>
        <th width="15%"></th>
        <th>이미지</th>
        <td width="40%"><img th:src="${product.product_img}" alt="img"></td>
        <th width="10%"></th>
      </tr>
      <tr>
        <th width="15%"></th>
        <th>출간일</th>
        <td width="40" th:text="${product.product_date}"></td>
        <th width="10%"></th>
      </tr>
      <tr>
        <th width="15%"></th>
        <th>페이지 수</th>
        <td width="40" th:text="${product.product_page}"></td>
        <th width="10%"></th>
      </tr>
      <tr>
        <th width="15%"></th>
        <th>재고</th>
        <td width="40" th:text="${product.product_stock}"></td>
        <th width="10%"></th>
      </tr>
      <tr>
        <th width="15%"></th>
        <th>판매량</th>
        <td width="40" th:text="${product.product_sale}"></td>
        <th width="10%"></th>
      </tr>
      <tr>
        <th width="15%"></th>
        <th>방문 수</th>
        <td width="40" th:text="${product.product_visit}"></td>
        <th width="10%"></th>
      </tr>
      <tr>
        <th width="15%"></th>
        <th>내용</th>
        <td width = "40" th:utext="${product.product_code}"></td>
        <th width="10%"></th>
      </tr>
    </table>
  </div>
</div> <!-- /container -->

<div th:insert="footer.html"></div>
</body>
</html>