<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>상품관리</title>
  <link rel="stylesheet" type="text/css" th:href="@{~/css/headerFooter.css}">
  <link rel="stylesheet" type="text/css" th:href="@{~/css/proStyle.css}">

</head>
<body>
<div th:insert="header.html"></div>

<link rel="stylesheet" type="text/css" th:href="@{~/css/proStyle.css}">
<div style="max-width: 100%">
  <div class="py-5 text-center">
    <br><h2>상품 목록</h2>
  </div>
  <div class="row">
    <table>
      <tr>
        <td width="1%"></td>
        <td><div>
          <form action = "/com.solponge/admin/product/search" accept-charset="utf-8" name = "book_info" method = "get">
            <select name="SearchSelect" class="search-select">
              <option value="all">전체</option>
              <option value="product_title">도서명</option>
              <option value="product_writer">저자</option>
            </select>
            <input type="text" name="SearchValue" size="15" value="검색 내용">
            <button type="submit">검색</button>
          </form>
        </div></td>
        <td width="45%"></td>
        <td>
          <div>
            <button class = "button" onclick="location.href='product/add'" type="button">상품 등록 </button>
          </div>
        </td>
        <td width="10%"></td>
      </tr>
    </table>
  </div>
  <hr>
  <th:brock th:if="${#lists.size(paginatedProducts) == 0}">
    <p style="text-align: center; padding-top: 50px; font-size: 1.5rem; font-weight: bold;">검색된 제품이 없습니다.</p>
  </th:brock>
  <th:brock th:unless="${#lists.size(paginatedProducts) == 0}">
    <div>
      <table class="yogi">
        <thead>
        <tr>
          <th width="10%"></th>
          <th>번호</th>
          <th>이미지</th>
          <th width = "20%">상품명</th>
          <th width = "10%">작가</th>
          <th>가격</th>
          <th>페이지 수</th>
          <th>재고</th>
          <th>판매량</th>
          <th>조회수</th>
          <th></th>
          <th></th>
          <th width="10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${paginatedProducts}">
          <td width="10%"></td>
          <td th:text="${product.product_num}"></td>
          <td><img th:src="${product.product_img}" style="width: 50px;" alt="img"></td>
          <td th:text="${product.product_title}"></td>
          <td th:text="${product.product_writer}"></td>
          <td th:text="${product.product_price} + ' 원'"></td>
          <td th:text="${product.product_page}"></td>
          <td th:text="${product.product_stock}"></td>
          <td th:text="${product.product_sale}"></td>
          <td th:text="${product.product_visit}"></td>
          <td>
            <div class="col">
              <button class="w-100 btn btn-primary btn-lg" th:onclick="'location.href=\'../admin/product/' + ${product.product_num} + '\''" type="button">상세보기</button>
            </div>
          </td>
          <td>
            <div class="col">
              <form id="delete" th:action="@{/com.solponge/admin/product/{productNum}/delete(productNum=${product.product_num})}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                <button onclick="return confirm('정말 삭제하시겠습니까?')" type="submit">삭제 </button>
              </form>
            </div>
          </td>
          <td width="10%"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </th:brock>

</div>

<nav id="paging" aria-label="Page navigation example" style="clear: both;">
  <ul class="pagination justify-content-center" style="padding: 0">
    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
      <a class="page-link" th:href="${url}+'page='+${currentPage - 1}" tabindex="-1" th:aria-disabled="${currentPage == 1}">Previous</a>
    </li>
    <th:block th:if="${totalPages == 0}">
      <li class="page-item" th:classappend="${currentPage == 1 ? 'active' : ''}">
        <a class="page-link" th:href="${url}+'page='+${1}" th:text="${1}"></a>
      </li>
    </th:block>
    <th:block th:if="${totalPages <= 10 and totalPages != 0}">
      <th:block th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
        <li class="page-item" th:classappend="${currentPage == pageNum ? 'active' : ''}">
          <a class="page-link" th:href="${url}+'page='+${pageNum}" th:text="${pageNum}"></a>
        </li>
      </th:block>
    </th:block>
    <th:block th:if="${totalPages >= 11 and currentPage <= 6}">
      <th:block th:each="pageNum : ${#numbers.sequence(1, 10)}">
        <li class="page-item" th:classappend="${currentPage == pageNum ? 'active' : ''}">
          <a class="page-link" th:href="${url}+'page='+${pageNum}" th:text="${pageNum}"></a>
        </li>
      </th:block>
    </th:block>
    <th:block th:if="${currentPage > 6 and currentPage > totalPages - 6}">
      <th:block th:each="pageNum : ${#numbers.sequence(totalPages - 9, totalPages)}">
        <li class="page-item" th:classappend="${currentPage == pageNum ? 'active' : ''}">
          <a class="page-link" th:href="${url}+'page='+${pageNum}" th:text="${pageNum}"></a>
        </li>
      </th:block>
    </th:block>
    <th:block th:if="${currentPage > 6 and currentPage <= totalPages - 6}">
      <th:block th:each="pageNum : ${#numbers.sequence(currentPage - 5, currentPage + 4)}">
        <li class="page-item" th:classappend="${currentPage == pageNum ? 'active' : ''}">
          <a class="page-link" th:href="${url}+'page='+${pageNum}" th:text="${pageNum}"></a>
        </li>
      </th:block>
    </th:block>
    <li class="page-item" th:classappend="${currentPage == totalPages ? 'disabled' : ''}" style="margin-right: 44px">
      <a class="page-link" th:href="${url}+'page='+${currentPage + 1}" th:aria-disabled="${currentPage == totalPages}">Next</a>
    </li>
  </ul>
</nav>
<div th:insert="footer.html"></div></body>
</html>