<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문관리</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/proStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/headerFooter.css}">
</head>
<body>
<div th:insert="header.html"></div>
<div class="container" style="max-width: 100%; padding-right: 0px; padding-left: 0px;">
    <div class="py-5 text-center">
        <h2>주문목록</h2>
    </div>
    <div class="row">
        &nbsp;&nbsp;&nbsp;
        <div class="col">
            <form method="get" action="/com.solponge/admin/order/search">
                <select name="SearchSelect" class="search-select">
                    <option value="payment_num">주문번호</option>
                    <option value="MEMBER_ID">아이디</option>
                </select>
                <input type="text" name="SearchValue">
                <button type="submit">검색</button>
            </form>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="yogi">
            <thead>
            <tr>
                <th width="10%">주문번호</th>
                <th width="7%">아이디</th>
                <th width="10%">상품명</th>
                <th width="4%">수량</th>
                <th width="10%">주문일자</th>
                <th width="10%">주문자번호</th>
                <th width="13%">주소</th>
                <th width="10%">배송메세지</th>
                <th width="10%">운송장번호</th>
                <th width="7%">상태</th>
                <th></th>
            </tr>
            </thead>
                <th:block th:each="order: ${paymentEntities}">
                    <th:block th:if="${order.success == 1}">
                        <form method="post" th:object="${order}" th:action="@{/com.solponge/admin/order/{num}/update(num=${order.payment.paymentNum})}">
                        <tr>
                            <td th:text="${order.payment.paymentNum}"></td>
                            <td th:text="${order.member.MEMBER_ID}"></td>
                            <td th:text="${order.product.product_title}"></td>
                            <td th:text="${order.payment.paymentStockNumber}"></td>
                            <td th:text="${order.payment.paymentDate}"></td>
                            <td th:text="${order.payment.paymentPhone}"></td>
                            <td th:text="${order.payment.paymentAddress}"></td>
                            <td th:text="${order.delivery.deliveryInfo}"></td>
                            <td>
                                <input type="hidden" name="payment_num" th:value="${order.payment.paymentNum}">
                                <input type="text" id="deliveryNum" name="deliveryNum" th:value="${order.delivery.deliveryNum}"  maxlength="9">
                            </td>
                            <td>
                                <p id="demo">
                                    <span th:switch="${order.success}">
                                        <span th:case="1">결제완료</span>
                                        <span th:case="2">발송완료</span>
                                        <span th:case="*">알수없음</span>
                                    </span>
                                </p></td>
                            <td>
                                <div><button type="submit">발송</button></div>
                            </td>
                        </tr>
                    </form>

                    </th:block>
                </th:block>

        </table>
        <br>
    </div>
    <div>
        <table class="yogi">
            <thead>
            <tr>
                <th width="10%">주문번호</th>
                <th width="7%">아이디</th>
                <th width="10%">상품명</th>
                <th width="4%">수량</th>
                <th width="10%">주문일자</th>
                <th width="10%">주문자번호</th>
                <th width="13%">주소</th>
                <th width="10%">배송메세지</th>
                <th width="10%">운송장번호</th>
                <th width="7%">상태</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="order : ${paymentEntities}">
                <th:block th:if="${order.success == 2}">
                <tr>
                    <td th:text="${order.payment.paymentNum}"></td>
                    <td th:text="${order.member.MEMBER_ID}"></td>
                    <td th:text="${order.product.product_title}"></td>
                    <td th:text="${order.payment.paymentStockNumber}"></td>
                    <td th:text="${order.payment.paymentDate}"></td>
                    <td th:text="${order.payment.paymentPhone}"></td>
                    <td th:text="${order.payment.paymentAddress}"></td>
                    <td th:text="${order.delivery.deliveryInfo}"></td>
                    <td th:text="${order.delivery.deliveryNum}"></td>
                    <td>
                        <p id="Completion">
                    <span th:switch="${order.success}">
                        <span th:case="1">결제완료</span>
                        <span th:case="2">발송완료</span>
                        <span th:case="*">알수없음</span>
                    </span>
                        </p>
                    </td>
                    <td></td>
                </tr>
                </th:block>
            </th:block>
            </tbody>
        </table>
        <br>
    </div>
</div>
<div th:insert="footer.html"></div>
</body>
</html>