<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/headerFooter.css}">
</head>
<body>
<div th:insert="header.html"></div>
<h2 th:text="${member.MEMBER_NAME}+'의 마이페이지'"></h2>
<div class="sidebar">
    <ul>
        <li><a th:href="@{/com.solponge/member/{MEMBER_NO}/myPage/update(MEMBER_NO=${member.MEMBER_NO})}" class="btn btn-primary btn-sm">회원정보 수정</a></li>
        <li><a th:href="@{/com.solponge/member/{MEMBER_NO}/myPage/order(MEMBER_NO=${member.MEMBER_NO})}">주문 관리</a></li>
        <li><a th:href="@{/com.solponge/member/{MEMBER_NO}/myPage/cart(MEMBER_NO=${member.MEMBER_NO})}">장바구니</a></li>
    </ul>
</div>
<div th:insert="footer.html"></div>
</body>
</html>