<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Start your development with Pigga landing page.">
    <meta name="author" content="Devcrud">
    <title>Home Shopping Site</title>

    <style>
        .url{
            float: left;
        }
        .url:hover {
            cursor: pointer;
        }
        .heart {
            width: 25px;
            font-size: 15px;
            color: gray;
            cursor: pointer;
            background-color: transparent;
            border: none;
        }

        .heart.red {
            width: 25px;
            font-size: 15px;
            color: red;
            background-color: transparent;
            border: none;
        }
        .star {
            width: 25px;
            font-size: 15px;
            color: gray;
            cursor: pointer;
            background-color: transparent;
            border: none;
        }

        .star.yellow {
            width: 25px;
            font-size: 15px;
            color: sandybrown;
            background-color: transparent;
            border: none;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="../css/headerFooter.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script language="JavaScript">
        function submitForm(clicked_id) {
            var buttonElement = document.getElementById(clicked_id);
            var usercheck = document.getElementById('MEMBER_ID').value;
            var getMEMBER_NO = document.getElementById('MEMBER_NO').value;
            console.log(usercheck)
            console.log(getMEMBER_NO)
            let MEMBER_NO = parseInt(getMEMBER_NO);
            var companyName = "companyName_"+clicked_id;
            var data2 = document.getElementById(companyName).value;
            if (buttonElement.value === 'Click') {
                buttonElement.value = 'Clicked';
                buttonElement.classList.add('red');
                if (usercheck.length !== 0) {
                    console.log('보낼 값: ' + data2);
                    console.log('용자사 번호: ' + MEMBER_NO);
                    console.log(typeof(MEMBER_NO))
                    let scrapCompany = JSON.stringify({"member_No": MEMBER_NO,"companyName": data2});
                    $.ajax({
                        type: "POST"
                        , url: "/scrap/company"
                        , contentType: "application/json"
                        , data: scrapCompany
                        , success: function() {
                            alert('성공');
                        }
                        , error: function() {
                            alert('찜 등록에 실패했습니다. 관리자에게 문의해주세요.');
                        }
                    });
                } else {
                    alert('찜 등록에 실패했습니다. 로그인을 해주세요');
                    location.href = "/main";
                }
            } else {
                buttonElement.value = 'Click';
                buttonElement.classList.remove('red');
                if (usercheck.length !== 0) {
                    console.log('보낼 값: ' + data2);
                    console.log('용자사 번호: ' + MEMBER_NO);
                    console.log(typeof(MEMBER_NO))
                    let scrapCompany = JSON.stringify({"member_No": MEMBER_NO,"companyName": data2});
                    $.ajax({
                        type: "POST"
                        , url: "/scrap/company/delete"
                        , contentType: "application/json"
                        , data: scrapCompany
                        , success: function() {
                            alert('성공');
                        }
                        , error: function() {
                            alert('찜 삭제 실패했습니다. 관리자에게 문의해주세요.');
                        }
                    });
                }
            }
        }
        function submitForm2(clicked_id) {
            var buttonElement = document.getElementById(clicked_id);
            var usercheck = document.getElementById('MEMBER_ID').value;
            var getMEMBER_NO = document.getElementById('MEMBER_NO').value;
            console.log(usercheck)
            console.log(getMEMBER_NO)
            let MEMBER_NO = parseInt(getMEMBER_NO);
            var infoname = "infoname_"+clicked_id;
            console.log(infoname)
            var infoname_re = infoname.replace("_star","");
            console.log(infoname_re)
            var data2 = document.getElementById(infoname_re).value;
            if (buttonElement.value === 'Click') {
                buttonElement.value = 'Clicked';
                buttonElement.classList.add('yellow');
                if (usercheck.length !== 0) {
                    console.log('보낼 값: ' + data2);
                    console.log('용자사 번호: ' + MEMBER_NO);
                    console.log(typeof(MEMBER_NO))
                    let scrapinfo = JSON.stringify({"member_No": MEMBER_NO,"infoname": data2});
                    $.ajax({
                        type: "POST"
                        , url: "/scrap/job"
                        , contentType: "application/json"
                        , data: scrapinfo
                        , success: function() {
                            alert('성공');
                        }
                        , error: function() {
                            alert('찜 등록에 실패했습니다. 관리자에게 문의해주세요.');
                        }
                    });
                } else {
                    alert('찜 등록에 실패했습니다.');
                    location.href = "/main";
                }
            } else {
                buttonElement.value = 'Click';
                buttonElement.classList.remove('yellow');
                if (usercheck.length !== 0) {
                    console.log('보낼 값: ' + data2);
                    console.log('용자사 번호: ' + MEMBER_NO);
                    console.log(typeof(MEMBER_NO))
                    let scrapinfo = JSON.stringify({"member_No": MEMBER_NO,"infoname": data2});
                    $.ajax({
                        type: "POST"
                        , url: "/scrap/job/delete"
                        , contentType: "application/json"
                        , data: scrapinfo
                        , success: function() {
                            alert('성공');
                        }
                        , error: function() {
                            alert('찜 삭제 실패했습니다. 관리자에게 문의해주세요.');
                        }
                    });
                }
            }
        }
        $(document).ready(function() {
            var $banner = $(".banner").find("ul");
            var $bannerWidth = $banner.children().outerWidth();//이미지의 폭
            var $bannerHeight = $banner.children().outerHeight(); // 높이
            var $length = $banner.children().length;//이미지의 갯수
            var rollingId;
            //정해진 초마다 함수 실행
            rollingId = setInterval(function() { rollingStart(); }, 5000);//다음 이미지로 롤링 애니메이션 할 시간차

            function rollingStart() {
                $banner.css("width", $bannerWidth * $length + "px");
                $banner.css("height", $bannerHeight + "px");
                //alert(bannerHeight);
                //배너의 좌측 위치를 옮겨 준다.
                $banner.animate({left: - $bannerWidth + "px"}, 1500, function() { //숫자는 롤링 진행되는 시간이다.
                    //첫번째 이미지를 마지막 끝에 복사(이동이 아니라 복사)해서 추가한다.
                    $(this).append("<li>" + $(this).find("li:first").html() + "</li>");
                    //뒤로 복사된 첫번재 이미지는 필요 없으니 삭제한다.
                    $(this).find("li:first").remove();
                    //다음 움직임을 위해서 배너 좌측의 위치값을 초기화 한다.
                    $(this).css("left", 0);
                    //이 과정을 반복하면서 계속 롤링하는 배너를 만들 수 있다.
                });
            }
        });
        //-->
    </script>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
<div th:insert="header.html"></div>

<div id="container">
    <div class="container_left">
        <div class="banner">
            <ul>
                <li>
                    <img
                            src="https://www.i-boss.co.kr/og-BD3207-413-gif"
                            width="800px"
                            height="320px"
                    />
                </li>
                <li>
                    <img
                            src="https://cdn.imweb.me/thumbnail/20210514/30c731865b9c8.png"
                            width="800px"
                            height="320px"
                    />
                </li>
                <li>
                    <img
                            src="https://publy.imgix.net/images/2021/05/18/1621306911_AsZ4ZT3kNYYDZ9zMgb3BTdFTlCZuJsr5P8LhqOaD.jpeg?fm=pjpg"
                            width="800px"
                            height="320px"
                    />
                </li>
            </ul>
        </div>
        <input type="hidden" th:if="${member!=null}" id="MEMBER_ID" th:value="${member.MEMBER_ID}">
        <input type="hidden" th:if="${member!=null}" id="MEMBER_NO" th:value="${member.MEMBER_NO}">

        <div id="row">
            <h3 class="newbook">
                새로나온책!!!<span><a href="/com.solponge/productList">전체보기</a></span>
            </h3>
            <div th:each="productNew, status : ${getproductNewTop8List}" class="column">
                <a th:href="@{/com.solponge/product/{productId}(productId=${productNew.product_num})}">
                    <img th:src="${productNew.product_img}" th:alt="${productNew.product_title}" style="width: 197px; height: 266px;" />
                </a>
                <h2 th:text="${productNew.product_title.length() > 12} ? ${productNew.product_title.substring(0, 9) + '...'} : ${productNew.product_title}">
                    <a th:href="@{/com.solponge/product/{productId}(productId=${productNew.product_num})}"></a>
                </h2>
                <a th:href="@{/com.solponge/product/{productId}(productId=${productNew.product_num})}">
                    <p th:text="${productNew.product_price} + '원'"></p>
                </a>
            </div>

            <h3 class="newbook">
                새로 등록된 공고!!!<span><a href="/com.solponge/jobinfolist">전체보기</a></span>
            </h3>

            <form id="my-form">
                <table id="Newjob8" style="font-size: 13px;">
                    <tr id="Newjob8th" style="text-align: center; background: #f2f9fe">
                        <td style="width: 160px; height: 44px">기업명</td>
                        <td style="width: 360px; height: 44px">제목</td>
                        <td style="width: 160px; height: 44px">지원자격</td>
                        <td style="width: 150px; height: 44px">근무조건</td>
                        <td>마감일</td>
                    </tr>
                    <tr th:each="NewJopInfo, status : ${getJopInfoNewTop8List}" id="Newjob8td">
                        <td style="display:none"><label style="display:none">
                            <input th:id="infoname_+${NewJopInfo.infonum}" th:value="${NewJopInfo.infoname}" style="display:none">
                        </label></td>
                        <td style="display:none"><label style="display:none">
                            <input th:id="companyName_+${NewJopInfo.infonum}" th:value="${NewJopInfo.companyname}" style="display:none">
                        </label></td>
                        <td th:if="${JobScrap?.get('response_'+NewJopInfo.companyname) != null}" class="infonum" style="height: 54px">
                            <a class="url" th:href="@{/com.solponge/jobinfolist/{companyname}(companyname=${NewJopInfo.companyname})}" th:text="${NewJopInfo.companyname}"></a>
                            <button class="heart red" th:id="${NewJopInfo.infonum}" type="button" onclick="submitForm(this.id)" value="Clicked">&#10084;</button>
                        </td>
                        <td th:if="${JobScrap?.get('response_'+NewJopInfo.companyname) == null}" class="infonum" style="height: 54px">
                            <a class="url" th:href="@{/com.solponge/jobinfolist/{companyname}(companyname=${NewJopInfo.companyname})}" th:text="${NewJopInfo.companyname}"></a>
                            <button class="heart" th:id="${NewJopInfo.infonum}" type="button" onclick="submitForm(this.id)" value="Click">&#10084;</button>
                        </td>

                        <td th:if="${JobScrap2?.get('response_'+NewJopInfo.infoname) != null}" class="infonum" style="height: 54px">
                            <a class="url" th:href="@{/com.solponge/jobinfo/{infonum}(infonum=${NewJopInfo.infonum})}" th:text="${NewJopInfo.infoname}"></a>
                            <button class="star yellow" th:id="${NewJopInfo.infonum}+'_star'" type="button" onclick="submitForm2(this.id)" value="Clicked">&#10029;</button><br><span style="font-size: 10px" th:text="${NewJopInfo.ftaglist}"></span>
                        </td>
                        <td th:if="${JobScrap2?.get('response_'+NewJopInfo.infoname) == null}" class="infonum" style="height: 54px">
                            <a class="url" th:href="@{/com.solponge/jobinfo/{infonum}(infonum=${NewJopInfo.infonum})}" th:text="${NewJopInfo.infoname}"></a>
                            <button class="star" th:id="${NewJopInfo.infonum}+'_star'" type="button" onclick="submitForm2(this.id)" value="Click">&#10029;</button><br><span style="font-size: 10px" th:text="${NewJopInfo.ftaglist}"></span>
                        </td>
                        <td style="height: 54px" th:text="${NewJopInfo.qualificat}"></td>
                        <td style="text-align: center; height: 54px" th:utext="${NewJopInfo.worktype} + '&lt;br&gt;' + ${NewJopInfo.workarea}"></td>
                        <td style="height: 54px" th:text="${NewJopInfo.deadline}"></td>
                    </tr>
                </table>
            </form>

        </div>
    </div>
    <div class="container_right">
        <br/>
        <h3 class="newbook">
            인기 상품<span><a href="#">전체보기</a></span>
        </h3>
        <table>
            <tr th:each="popularTop, status : ${getproductpopularTop8List}">
                <td><a th:href="@{/com.solponge/product/{product_num}(product_num=${popularTop.product_num})}"><img th:src="${popularTop.product_img}"/></a></td>
                <td>
                    <table>
                        <tr>
                            <td class="book_rank"><a th:href="@{/com.solponge/product/{product_num}(product_num=${popularTop.product_num})}" th:text="${status.count} + '위'"></a></td>
                        </tr>
                        <tr>
                            <td class="book_rank_writer">
                                <a th:href="@{/com.solponge/product/{product_num}(product_num=${popularTop.product_num})}" th:text="${popularTop.product_writer.length() > 10} ? ${popularTop.product_writer.subSequence(0, 9)} + '...' : ${popularTop.product_writer}"></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="book_rank_title">
                                <a th:href="@{/com.solponge/product/{product_num}(product_num=${popularTop.product_num})}" th:text="${popularTop.product_title.length() > 12} ? ${popularTop.product_title.subSequence(0, 9)} + '...' : ${popularTop.product_title}"></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="book_rank_sales"><a th:href="@{/com.solponge/product/{product_num}(product_num=${popularTop.product_num})}" th:text="${popularTop.product_sale} + '개 판매!'"></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</div>
<div th:insert="footer.html"></div>
</body>
</html>