<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/headerFooter.css}">
    <link rel="stylesheet" th:href="@{~/css/success.css}">
</head>
<body>
<div th:insert="header.html"></div>
<div id="block">
    <h2>결제 실패!</h2>
    <table>
        <tr>
            <td onclick="location.href='/com.solponge/main'" id="left">메인으로</td>
            <td><a th:href="@{/com.solponge/member/{member_No}/myPage/cart(member_No=${member_No})}">장바구니</a></td>
        </tr>

    </table>


</div>

<div th:insert="footer.html"></div>
</body>
</html>