<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/success.css">
    <link rel="stylesheet" href="/css/hdcss.css">
</head>
<body>

<div id="block">
    <h2>결제 실패!</h2>
    <table>
        <tr>
            <td onclick="location.href='/com.solponge/main'" id="left">메인으로</td>
            <td><a th:href="@{/com.solponge/member/{member_No}/myPage/cart(member_No=${member_No})}">장바구니</a></td>
        </tr>

    </table>


</div>

</body>
</html>