<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/headerFooter.css">
    <link rel="stylesheet" href="/css/success.css">
    <link rel="stylesheet" href="/css/hdcss.css">
</head>
<body>
<div th:insert="header.html"></div>

<div id="block">
    <h2>상품 재고가 부족합니다. 죄송합니다.</h2>
    <table>
        <tr>
            <td onclick="location.href='/com.solponge/main'"  id="left">메인으로</td>
        </tr>
    </table>
</div>

<div th:insert="footer.html"></div>
</body>
</html>